body{
    height: 100%;
    /* margin-top: 0px; */
    padding: 0px;
    margin: 0px;
}
html{
    margin-top: 0px;
    padding: 0px;
    margin: 0px;

}

        /* general */
hr{
    width: 90%;
}

        /* Navigation Bar  */
.UpperNavDiv{
    padding: -2%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    /* padding-top: 0.3%; */
    
    width: 100%;
    /* position: fixed; */
    /* margin-top: -3.5vh; */
    background-color: #373434;
    height: 200px;
}
@media screen and (max-width: 375px){
    .UpperNavDiv{
        height: 50px;
    }
    
}
.UpperNavDiv>.upper{ 
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    margin-bottom: 0px;
}/*
.UpperNavDiv>.upper>.Upperbutton{
    border: solid 5px red; */
    /* width: 40%;
} */
.Upperbutton>button{
    margin-right: 0%;
    transition-duration: 1s;
    text-align: center;
    font-size: 2.5vw;
    background-color: #231717;
    border: solid 2px #707070;
    color: #FFF;
    width: 15vw;
    height: 100%;
    margin-top: 0px;
}
.Upperbutton>button:hover{
background-color: #353333;
}
.Upperbutton{
    padding-top: 0px;
}
.upper>h2{
    color: #F3EFEF;
}
.lower{
    height: 30%;
    display: flex;
    flex-direction: row;
    /* align-items: right; */
    /* justify-content: left; */
    justify-content: space-evenly;
}
.lower>button{
    margin-top: 0%;
    transition-duration: 1s;
    background-color: #231717;
    width: 30%;
    color: #FFF;
    font-size: 2vw;
    border: solid 2px #707070;
}
.lower>button:hover{
    background-color: #353333;
}

.upper{
    display: flex;
    justify-content: space-evenly;
}
.backBtn{  
    border-bottom-right-radius: 100px;
    font-size: 4vw;
    height: 60px;
    width: 150px;
    background-color: #231717;
    color: #FFF;
}

        /* Navigation bar ends Here  */


        /* Body starts here Ohh */
.chatItem{
    margin-top: 1%;
    width: 100%;
    /* height: 100; */
}
.chatItem>button{
    border: #707070 solid 1.5px;
    margin-bottom: 1%;
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    border-left: #FFF;
    border-right: #FFF;
    color: #707070;
    /* background-color: rgb(247, 234, 234); */
}





        /* body ends here  */

        /* footer panel */
.footer{
    background-color: #373434;
    margin-bottom: -3%;
    color: white;
    font-size: 1.5vw;
    
}