body{
    margin-left: 3%;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 50, 50, 0.425); 
  }
h1{
    font-size: 50px;
}


            /* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.otherLink{
    width: 60%;
}
.otherLink>a{
    border-bottom-right-radius: 10px;
    padding: 1%;
    margin-left: 120px;
    text-decoration: none;
    color: rgb(37, 37, 37);
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}



.otherLink>a:hover{
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    border-bottom: 1px black solid;
    border-right: 1px black solid;

}
@media screen and (max-width:375px) {
    h1{
        font-size: 35px;
    }
    .otherLink>a{
        border-bottom-right-radius: 10px;
        /* padding: 1%; */
        margin-left: 2px;
        font-size: 15px;

    }
    
    
    
    
}




        /* body */
